.git
.gitignore
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
docker-compose.override.yml
.env
.env.*
!.env.example
database/database.sqlite
tests/coverage
.phpunit.result.cache
